@page
@model TravelApp.Pages.Reservas.DeleteModel

@{
    ViewData["Title"] = "Remover Reserva";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja remover esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.PacoteTuristicoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.PacoteTuristico.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DataReserva)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Reserva.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
